.container
 .blog-header
  %h1.blog-title Listing all posts
  %p=link_to 'Create new post', new_post_path, class: 'btn btn-success'

 -@posts.each do |post|
  .row
   .col-sm-8.blog-main
    .blog-post
     %h2.blog-post-title=post.title 
     %p.blog-post-meta=post.body
     %p
      .btn-group{role: 'group'}
      =link_to 'Edit', edit_post_path(post.id), class: 'btn btn-warning' 
      =link_to 'Delete', post_path(post.id), method: :delete, class: 'btn btn-danger'