!!!
%html
%head
 %title=FancyBlog
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
 = javascript_include_tag 'application', 'data-turbolinks-track' => true
 = csrf_meta_tags

%body
 %nav.blog-nav.navbar-default
  .container
   #navbar.navbar-collapse.collapse
    %ul.nav.navbar-nav
     %li=link_to 'Posts', posts_path
     %li=link_to 'Photos', photos_path
     %li=link_to 'Shop', '#'
     %li=link_to 'About me', about_path



 .container
  .col-md-12=yield